.App {
  text-align: center;
}

.App h1 {
  color: #2c2c2c;
}

.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  height: 100%;
  margin: 10px auto;
  border: 2px solid #ff695c;
  padding: 10px;
  border-radius: 10px;
  background: #fff;
}

.list-content {
  line-height: 10px;
}

.list-content h2 {
  color: #2c2c2c;
}

.logo {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
}

.list-note {
  text-align: center;
  line-height: 18px;
}

.add-list {
  display: flex;
  flex-direction: column;
  width: 30rem;
  margin: 5rem auto;
}

.add-list-input {
  padding: 0.5rem;
  font-size: 1rem;
  margin: 0.3rem 0rem;
  border-radius: 10px;
  border: 2px solid #f78045;
  outline: none;
}

.add-list-btn {
  padding: 0.5rem;
  cursor: pointer;
  background-color: #f78045;
  font-weight: 700;
  color: white;
  border: none;
  border-radius: 10px;
}
